services:

  service-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: service-api
    ports:
      - "8080:8080"
    environment:
      LOG_LEVEL: "DEBUG"
    volumes:
      - $PWD/.env:/usr/app/.env
    healthcheck:
      test: curl -X GET "http://0.0.0.0:8080/health" || exit 1
      interval: 1m
      timeout: 10s
      start_period: 30s
      retries: 3
    depends_on:
      db:
        condition: service_healthy
      migration:
        condition: service_completed_successfully
    networks:
      - service-network
    restart: unless-stopped
    profiles:
      - all

  db:
    image: public.ecr.aws/docker/library/postgres
    ports:
        - '5432:5432'
    restart: always
    environment:
        POSTGRES_USER: develop
        POSTGRES_PASSWORD: develop_secret
        POSTGRES_DB: develop
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U develop" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - service-network
    profiles:
      - all
      - db

  migration:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: migration-runner
    command: python src/utils/cli/migration.py
    environment:
      LOG_LEVEL: "DEBUG"
      PYTHONPATH: /usr/app/src
    volumes:
      - $PWD/.env:/usr/app/.env
    depends_on:
      db:
        condition: service_healthy
    networks:
      - service-network
    restart: "no"
    profiles:
      - all
      - db

networks:
  service-network:
    driver: bridge
